
.container {
    min-height: 10vh;
    padding: 0 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.content {
    min-width: 25vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    /* grid-gap: 2px; */
    /* background-color: #2196F3; */
    margin-bottom: 16px;
}

.gridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}


/* Header/Blog Title */
.header {
  /*padding: 30px;*/
  text-align: center;
  background: #333;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(36, 164, 238);
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60%;
}

/* Right column */
.rightcolumn2 {
  float: left;
  width: 40%;
}

.leftcolumn3 {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn4 {
  float: right;
  width: 50%;

  padding-left: 20px;
}
.leftcolumn4 {   
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Right column */
.rightcolumn3 {
  float: right;
  width: 25%;
}
.rightcolumn {
  float: left;
  width: 40%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/*
.header {
    background-color: #f1f1f1;
    padding: 0px;
    text-align: center;
  }
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
 
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  */
  